<footer class="mt-4">
    <div class="f-info">
        <div class="f-info-socials">
            <img src="/assets/facebook.svg" alt="facebook logo">
            <img src="/assets/insta.svg" alt="instagram logo">
            <img src="/assets/linkedin.svg" alt="linkedin logo">
        </div>
        <div>&copy;Copyrights | Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>