<% layout("./layouts/boilerplate.ejs") %>

<div class="row text-center">
  <div class="alert alert-danger col-6 offset-3" role="alert">
    <h5 class="alert-heading text-center"> <%= message %> </h5>
  </div>
</div>
