<% layout("./layouts/boilerplate.ejs"); %>
  <body>
    <div class="container-md mt-3 row">
      <div class="col-8 offset-2">
        <h2>Create new listing</h2>
      <form action="/listings" method="POST" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="title" class="form-label">Enter title</label>
          <input
            type="text"
            required
            name="listing[title]"
            class="form-control"
            id="title"
            placeholder="Title"
          />
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Enter description</label>
          <textarea
            class="form-control"
            required
            name="listing[description]"
            id="desc"
            rows="3"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="url" class="form-label">Enter image URL or Link</label>
          <input
            type="url"
            name="listing[image]"
            class="form-control"
            id="url"
            placeholder="Link"
          />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Enter price</label>
          <input
            required
            name="listing[price]"
            class="form-control"
            id="price"
            placeholder="0"
          />
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Enter your location</label>
          <input
            type="text"
            required
            name="listing[location]"
            class="form-control"
            id="location"
            placeholder="Location"
          />
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Enter your country</label>
          <input
            type="text"
            required
            name="listing[country]"
            class="form-control"
            id="country"
            placeholder="country"
          />
        </div>
        <div class="text-center">
          <input type="submit" class="btn btn-dark w-50" value="Add Listing" />
        </div>
      </form>
    </div>
    </div>
  </body>
